@{
    ViewData["Title"] = "Home Page";
}
<!--remove me after proof of concept-->
<div class="text-center">
    <h1 class="display-4">Look at that dang time table up top&#33;</h1>
   <!--remove me-->
</div>
